@media screen and (max-width:480px) and (min-width:320px){
    .navbar{
        margin-top: 20px;
        flex-direction: column;    
       
    }
    .navbar ul{
        flex-direction: column;
        gap: 10px;
        
    }

    .architect-header{
        width: 100%;
       
    }


    .architect-title{
        font-size: 30px;
        margin-top: 50px;
        padding-left: 40px;
        position: relative;
        right: 20px;
    }



   

    .architect-description{
        margin-top: 80px;
        padding-left:70px ;
    }


    .primary-btn{
       left: 128px;
       
    }

    .architect-author-img img{
      
        
    }

    .feture-containers{
        width: 100%;
        flex-direction: column-reverse;
    }

    .quick-list-feture-container{
        align-items: center;
    }

    .left-feture-container{
        grid-template-columns: repeat(1,1fr);
    }


    .right-feture-info {
        width: 100%;
       margin-left: 20px;

    }
    .feture-containers {
        width: 100%;
    }


    .product-section,.experience-btn {
        position: relative;
        bottom: 180px;
    }


    .product-design-container{
        flex-direction: column;
    }

    .product-design-sample img{
        width: 100%;
    }


    .primary-btn {
        left: 100px;
     
    }

 

    .some-fact{
        width: 100%;
        left: 10px;
        bottom: 200px;
    }

    .work-with-experience{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: relative;
        bottom: 200px;
    }


    .sponsor-info{
        position: relative;
        bottom: 200px;
        margin-left: 20px;
       
    }

    .sponsor-description {
        width: 100%;
        margin-left: 20px;
       
       
    }


    .sponsor-list{
        flex-direction: column;
        gap: 30px;
    }

    .telegram{
        left: 10px;
        bottom: 15px;
     
    }

    .footer{
        width: 100%;
        font-size: 10px;
    }


    /* extra section  */

    .about-info{
        flex-direction: column-reverse;
    }

    .about-us-img img{
        height: 100%;
    }

    .about-us-container{
        position: relative;
        bottom: 220px;
    }
    

}



