@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');


/*------------------------------
 common style & Utilites
 --------------------------------  */
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    background-color: lightcyan;


}

:root {
    --golden-color: #FF900E;
}


/* ---------------------
 navbar style
 -------------------------  */

.navbar {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.navbar-title p {
    font-weight: 800;
    font-size: 30px;
    color: #131313;
}


.navbar-ul {
    display: flex;
}


.navbar-ul li {
    list-style: none;

}

.navbar-ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    padding: 0px 25px;
}



.nav-architect-bg {
    background-color: cornsilk;
}

/*-----------------------------
 section architects header
 -------------------------------  */

.architect-header {

    margin: auto;
    width: 862px;
    height: 225px;
}


.architect-title {

    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 64px;

}

.architect-description {
    font-weight: 100;
    font-size: 16px;
    color: #727272;
    position: relative;
    bottom: 45px;

}


.primary-btn {
    background-color: var(--golden-color);
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    position: relative;
    left: 45%;
    cursor: pointer;

}

.primary-btn:hover {
    background-color: royalblue;
}



/*-------------------------
 banner images 
 ---------------------------- */
.architect-author-img img {
    width: 70%;
    position: relative;
    left: 15%;
    margin-top: 50px;

}




/* -----------------------------
             quick list of our feature
------------------------------ */

.quick-list-feture-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;

}


.feture-containers {
    width: 85%;
    display: flex;
    align-items: center;
    gap: 73px;



}



.left-feture-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}


.left-info-img img {
    border-radius: 10px;
}



.right-feture-info {
    width: 537px;
    height: 304px;
}


.right-info-title {
    font-weight: 500;
    font-size: 45px;

}


.right-info-detail {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    bottom: 25px;
}



.dark-grey {
    color: #727272;

}


.golden {
    color: var(--golden-color);
}

.primary-button {

    background-color: var(--golden-color);
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}













/* -----------------------------
             quick list of our feature
 ------------------------------*/




/* -------------------------------
             product feture 
--------------------------------- */

.product-section {
    width: 100%;
    margin-top: 130px;
}




.product-design-container {
    width: 80%;
    display: flex;
    position: relative;
    left: 9%;
    padding: 25px;

}



.product-main-title {
    font-weight: 700;
    font-size: 45px;




}



.product-info {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    bottom: 10px;
}



.experience-year {
    font-size: 2rem;


}



/* some fact style  */

.some-fact {
    width: 450px;
    position: relative;
    left: 240px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.fact-title {
    font-weight: 700;
    font-size: 45px;
    position: relative;
    margin-bottom: 10px;

}


.fact-detail {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}



/*----------------------------
 about us style
 -----------------------------  */
.about-us-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

}

.about-us {
    width: 90%;
   

}

.about-info {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}


.about-us-img img {

    width: 400px;
    border-radius: 10px;

}

.detail-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about-title{
    font-size: 40px;
    font-weight: 700;
}


.about-description{
    color: #727272;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    bottom: 30px;

}

.about-button{

    background-color: var(--golden-color);
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 30px;
}

.about-button:hover{
    background-color: royalblue;
}



/* --------------------------
work-with-experience-container
------------------------------ */

.work-with-experience-container {
    width: 90%;
    margin: auto;
}

.work-with-experience {
    display: flex;
    justify-content: space-evenly;
}

.work {
    border: 1px solid var(--golden-color);
    border-radius: 7px;
    width: 200px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: all 0.2s ease-in-out;

}


.work:hover {
    background-color: rgb(255, 255, 255);
    transform: rotate(360deg);



}

.work img {
    width: 45.22px;
    height: 45.22px;
}


.work h1 {
    height: fit-content;
    position: relative;
    bottom: 20px;
}

.work-count {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
}

.work-info {
    color: #727272;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    bottom: 60px;

}



/*---------------------------
 sponsor style
 ----------------------------  */

.sponsor-info {
    margin-top: 100px;

}

.sponsor-title {
    font-weight: 700;
    font-size: 45px;
    margin: auto;
    width: fit-content;

}


.sponsor-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    width: 542px;
    margin: auto;
    margin-top: 16px;

}

.our-sponsor-container {
    margin-top: 50px;


}


.sponsor-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.sponsor img {
    cursor: pointer;
}

.telegram {
    position: relative;
    right: 80px;
}



/* -----------
footer
--------------- */



.footer {
    margin-top: 130px;
    height: 100px;
    background-color: rgb(254, 255, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}