@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');


/*------------------------------
 common style & Utilites
 --------------------------------  */
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;

}

:root {
    --golden-color: #FF900E;
}


/* ---------------------
 navbar style
 -------------------------  */

.navbar {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.navbar-title p {
    font-weight: 800;
    font-size: 30px;
    color: #131313;
}


.navbar-ul {
    display: flex;
}


.navbar-ul li {
    list-style: none;

}

.navbar-ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    padding: 0px 25px;
}




/*-----------------------------
 section architects header
 -------------------------------  */

.architect-header {

    margin: auto;
    width: 862px;
    height: 225px;
}


.architect-title {

    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 64px;

}

.architect-description {
    font-weight: 100;
    font-size: 16px;
    color: #727272;
    position: relative;
    bottom: 45px;

}


.primary-btn {
    background-color: var(--golden-color);
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    position: relative;
    left: 45%;

}

.primary-btn:hover {
    background-color: royalblue;
}



/*-------------------------
 banner images 
 ---------------------------- */
.architect-author-img img {
    width: 70%;
    position: relative;
    left: 15%;
    margin-top: 50px;

}




/* -----------------------------
             quick list of our feature
             ------------------------------ */













/* -----------------------------
             quick list of our feature
 ------------------------------*/




/* -------------------------------
             product feture 
--------------------------------- */

.product-section {
    width: 100%;
    margin-top: 130px;
}




.product-design-container {
    width: 80%;
    display: flex;
    position: relative;
    left: 9%;
    padding: 25px;

}

.products-design {}

.product-main-title {
    font-weight: 700;
    font-size: 45px;




}



.product-info {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    bottom: 10px;
}



.experience-year {
    font-size: 2rem;


}



/* some fact style  */

.some-fact {
    width: 450px;
    position: relative;
    left: 240px;
    margin-top: 100px;
}

.fact-title {
    font-weight: 700;
    font-size: 45px;
    position: relative;
    margin-bottom: 10px;

}


.fact-detail {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}




/* --------------------------
work-with-experience-container
------------------------------ */

.work-with-experience-container{
    width: 90%;
    margin: auto;
}
.work-with-experience{
    display: flex;
    justify-content: space-evenly;
}

.work {
    border: 1px solid var(--golden-color);
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

}

.work img {
    width: 45.22px;
    height: 45.22px;
}


.work h1 {
    height: fit-content;
    position: relative;
    bottom: 20px;
}

.work-count {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
}

.work-info {
    color: #727272;
    font-weight: 600;
    font-size: 11px;
    position: relative;
    bottom: 70px;

}