/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');


/*------------------------------
 common style & Utilites
 --------------------------------  */
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;

}

:root {
    --golden-color: #FF900E;
}


/* ---------------------
 navbar style
 -------------------------  */

.navbar {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.navbar-title p {
    font-weight: 800;
    font-size: 30px;
    color: #131313;
}


.navbar-ul {
    display: flex;
}


.navbar-ul li {
    list-style: none;

}

.navbar-ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
    padding: 0px 25px;
}




/*-----------------------------
 section architects header
 -------------------------------  */

.architect-header {

    margin: auto;
    width: 862px;
    height: 225px;
}


.architect-title {

    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 64px;

}

.architect-description {
    font-weight: 100;
    font-size: 16px;
    color: #727272;
    position: relative;
    bottom: 45px;

}


.primary-btn {
    background-color: var(--golden-color);
    border-radius: 8px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    position: relative;
    left: 45%;
  
}

.primary-btn:hover{
    background-color: royalblue;
}



/*-------------------------
 banner images 
 ---------------------------- */
.architect-author-img img{
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 50px;

}




             /* -----------------------------
             quick list of our feature
             ------------------------------ */
      












       /* -----------------------------
             quick list of our feature
             ------------------------------ */
      
